{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <div class="title">{{ article.title ~ ' par ' ~ article.createdBy ~ " le " ~ article.createdAt | date("d/m/Y") }} </div>
        <div class="leading">{{ article.leading }}</div>
        <div>
            ----
        </div>
        <div class="body">{{ article.body }}</div>
    </article>
    <div>
        <a href="{{ path('homepage') }}">
            {{ "Retour à la liste" }}
        </a>
        {{ form(deleteForm, {'action': path('delete_article', {'id' : article.id})}) }}
    </div>
{% endblock %}

{% block title %}
    Article – {{ article.title }}
{% endblock %}